@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* General Page Styling */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
}

/* Page Title */
h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    width: 53%;
}

/* table */
table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}


/* Main container for the content */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px; /* Space between the table and form */
}

/* Form Styling */
form {
    background-color: #f4f4f4;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

form input{
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #ffffff;
}

/* Button Styling */
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    max-width: fit-content;
}

button:hover {
    background-color: #555;
}


.flash-message-container .alert {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.close-btn:hover {
    color: #555;
}

.flash-message-container {
    position: absolute;
    top: 20px; /* Pushes messages to the top */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    z-index: 1000; /* Ensures messages appear above other elements */
}

/* Flash Message Styling */
.alert {
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 16px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #ff0000;
    background-color: #f2c6c6;
    border-color: #d6e9c6;
}