@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #e2e2e2;
  color: #333;
}

/* Body Styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Logo Header Section */
.logo-header {
  position: relative;  
  top: -120px;  
  text-align: center;
}

/* Logo Section */
.logo {
  margin-bottom: 20px;
  text-align: center;
}

.logo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

/* Buttons Section */
.homebutton {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.homebutton .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homebutton .button-container img {
  width: 100px;  /* Adjust image size */
  height: 100px;
}

.homebutton button {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  color: #fff;
  background: linear-gradient(135deg,#404040, #333);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
}

button:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, #7a7070, #7c7474);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.98);
  box-shadow: none;
}

