<!DOCTYPE html>
<html>
<head>
    <title>Admin Home</title>
    <link rel="stylesheet" href="/static/home.css">
    <figure class="logo">
        <a href="/"> <img src="/static/1.jpg" style width="100px" height="100px"></a>
     </figure>

     <nav>
        <ul class="topnav">
          <li class="dropdown">
            <a href="#manageitem">Manage item</a>
            <ul class="dropdown-content">
              <li><a href="/additem">Add item</a></li>
              <li><a href="/delitem">Delete item</a></li>
              <li><a href="/viewitem">View item</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#managecustomer">Manage customer</a>
            <ul class="dropdown-content">
              <li><a href="/viewcus">View Customer Details</a></li>
              <li><a href="/delcus">Delete Customer</a></li>

            </ul>
          </li>
          <li class="dropdown">
            <a href="#managerefund">Manage Refund</a>
            <ul class="dropdown-content">
              <li><a href="/viewref">View Refund</a></li>
              <li><a href="/viewdel">View Delivery Details</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#memo">Memo</a>
            <ul class="dropdown-content">
              <li><a href="/reqmemo">Request Memo</a></li>
              <li><a href="/viewmemo">View Memo</a></li>
            </ul>
          </li>
          <li><a href="https://wa.me/601151257919">Contact Management</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/">Log Out</a></li>
        </ul>
      </nav>

</head>
<body>
    <br><br>
    
   
    <section class="main" id="history"> 
        <article>
          <header>
              <h2>Metro Driving Academy</h2>
          </header>
          <section class="picture ">
            <img src="/static/36.webp">
          <section class="main" id="history">
          <h3 class="header" id="history">Metro Driving Academy</h3>
          <p class="description">
          
           Established in 1998, Metro Driving Academy was licensed and awarded as the BEST DRIVING ACADEMY & 5 STAR Rated Driving Academy by the Road Transport Department of Malaysia. Comprehensively equipped with professionally built driving and riding circuit facilities, 
           our main campuses are located in Kampung Melayu Subang (near Subang Airport) and Bandar Bukit Puchong 2. We are committed in providing the Professional Training & Best Driver’s Education services for our Local and International Candidates, with strong focus on Safe
            Driving and observing road rules and laws at all times and in under any circumstances
           </p>
  
           <h3 id="vision">OUR VISION</h3>
           <p class="description">
              “To be the leading driving academy in Malaysia”
           </p>
  
           <h3 id="mission">OUR MISSION</h3>
           <p class="description">
              “To provide professional training for every driver with strong focus on safe driving and observing road rules and laws at all times and in under any circumstances”
           </p>
  
           
           <h4>The Fastest Place To Get Your Driving License</h4>
           <section>
              <img src="/static/pg30.webp">
              
             <h2>What Will You Get</h2>
                <section class="get">
             <div>
              <div class="box">
               <img src="/static/pg31.webp"style width="300px" height="200px">
               <p>7 to 10 Weeks Course Duration</p>
               <p>Course Duration for Peak Season between 3 - 5 months. No waiting list for final Practical JPJ Test. 
                   Limited number of students to ensure the whole process runs smoothly.</p>
              </div>
       
              <div class="box">
                  <img src="/static/pg32.webp"style width="300px" height="200px">
                  <p>Learn in Our Award Winning Facilities</p>
               <p>5 Star Rated Driving Academy / Award Winner for Best Driving Academy & Accredited Training Center</p>
              </div>
       
              <div class="box">
                  <img src="/static/pg34.webp"style width="300px" height="200px">
                  <p>22 - 26 Hours Driving Program  </p>
               <p>1 to 1 Teaching Method by Experienced Coaches </p>
              </div>
       
              <div class="box">
                  <img src="/static/pg35.webp"style width="300px" height="200px">
                  <p>Car for Practical Training & Test - Proton IRIZ</p>
                  <p>Proton Iriz Automatic OR Manual. 5 Star Asean NCAP Safety Rated Cars for The Best Safety & Comfort </p>
              </article>
        </section>

    <footer>
        <figure class="logo">
            <img src="/static/1.jpg" style width="100px" height="100px">
         </figure>
       <br> Lot 3509, Seksyen U6, Kampung Melayu Subang,<br>
       <br> 40150 Shah Alam, Selangor<br>
       <br> Tel : 03 - 7845 9898<br>
       <br>Monday - Sunday<br>
       <br> 8:00 am - 4:30 pm<br>
       <p><a href="mailto:drivingacademy@gmail.com">drivingacademy@gmail.com</a></p>
      </footer>
</body>
</html>