<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/adminhome.css">
</head>
<body>
    <header>
        <figure class="logo">
            <a href="/"> <img src="/static/logo.png" width="100px" height="100px"></a>
        </figure>

        <nav>
            <ul class="topnav">
                <li class="dropdown">
                    <a href="#manageitem">Manage item</a>
                    <ul class="dropdown-content">
                        <li><a href="/addprod">Add item</a></li>
                        <li><a href="/product_admin">View item</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#memo">Notification</a>
                    <ul class="dropdown-content">
                        <li><a href="/viewnotiadmin">View notification</a></li>
                        <li><a href="/sncus">Notification to customer</a></li>
                        <li><a href="/sncou">Notification to courier</a></li>
                        <li><a href="/snspo">Notification to sponsor</a></li>
                    </ul>
                </li>
                <li><a href="/viewfeedback">Feedback</a></li>
                <li><a href="https://wa.me/601151257919">Contact Management</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/">Log Out</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="main" id="history"> 
        <article>
            <header class="admintop">
                <div class="overlay">
                    <h1>Welcome Back, Admin!</h1>
                    <p>Your Marketplace for Second Chances.</p>
                </div>
            </header>

            <section class="picture">
                <h3 class="header">Trash and Treasure</h3>
                  <p class="description">
                      Welcome to the admin dashboard of Trash and Treasure! 
                      Manage and monitor customer feedback, inventory, and more.
                  </p>
                <h3>Our Mission</h3>
                  <p>To reduce waste and promote sustainability through second-hand shopping.</p>
            </section>

        </article>
    </section>

    <footer>
        <figure class="logo">
            <img src="/static/logo.png" style width="100px" height="100px">
        </figure>
        <br> Lot 3509, Seksyen U6, Kampung Melayu Subang,<br>
        <br> 40150 Shah Alam, Selangor<br>
        <br> Tel : 03 - 7845 9898<br>
        <br>Monday - Sunday<br>
        <br> 8:00 am - 4:30 pm<br>
        <p><a href="mailto:drivingacademy@gmail.com">drivingacademy@gmail.com</a></p>
    </footer>

</body>
</html>