<!DOCTYPE html>
<html>
<head>
    <title>Courier Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <figure class="logo">
        <a href="/"> <img src="/static/logo.png" style width="100px" height="100px"></a>
    </figure>
    <section class="main-container">
        <div class="login-header">
          <h1>Log In</h1>
          <p class="word">Courier</p>
        </div>

        <section class="login-container">
          <form action="/courier" method="post">
              <label>Username</label>
              <input name="username" placeholder="Username" required><br>

              <label>Password</label>
              <input type=password name="password" placeholder="*****" required><br><br>

              <button type="submit">Log in</button>
              <button type="button" onclick="window.location.href='/'">Back to Home Page</button>    
          </form>
        </section>
    </section>


    <footer>
        <div class="contact-info">
            <!-- Image on the left -->
            <img src="/static/socmed.png" alt="Image" class="footer-image">
            
            <!-- Contact Details on the right -->
            <div class="contact-details">
                <p class="bold">Contact Us</p>
                <p><a href="mailto:trashntreasure24@gmail.com">TrashAndTreasure@gmail.com</a></p>
                03-214 2592<br>
                <br>Office :
                <br>UP2-01, Centre Management Office, Melawati Mall, 355,
                <br>Jalan Bandar Melawati, Pusat Bandar Melawati, 53100, Kuala Lumpur.<br>
            </div>
        </div>
    </footer>
  
    
</body>
</html>