<!DOCTYPE html>
<html>
<head>
    <title>Courier Login</title>
    <link rel="stylesheet" href="/static/login.css">
    
</head>
<body>
    <figure class="logo">
        <a href="/"> <img src="/static/logo.png" style width="100px" height="100px"></a>
     </figure>
    <section class=color>
    <h1>Courier Login</h1>
    <form action="/courier" method="post">
        <label>Username:</label>
        <input name="username" required><br>
    

        <label>Password:</label>
        <input type=password name="password" required><br><br>
            

        <button type="submit">Log in</button>
          <button type="button" onclick="window.location.href='/'">Back</button>
        
    </form>
</section>
<footer>
    <figure class="logo">
      <img src="/static/logo.png" style width="100px" height="100px">
     </figure>
   <br> Lot 3509, Seksyen U6, Kampung Melayu Subang,<br>
   <br> 40150 Shah Alam, Selangor<br>
   <br> Tel : 03 - 7845 9898<br>
   <br>Monday - Sunday<br>
   <br> 8:00 am - 4:30 pm<br>
   <p><a href="mailto:drivingacademy@gmail.com">drivingacademy@gmail.com</a></p>
  </footer>
            
</body>
</html>
