<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Notification</title>
    <link rel="stylesheet" href="/static/feedback.css">
</head>
<body>
    <div class="flash-message-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <h1>Customer Notification</h1>

    <form action="/couscus" method="post">

        <label>Customer ID:</label>
        <input name="customer_id", id="customer_id" required><br><br>
       

        <label for="content">Notification:</label><br>
        <textarea name="content" id="content" rows="6" required></textarea><br><br>


        <button type="submit">Submit Notification</button>
        <button type="button" onclick="window.location.href='/courierhome'">Back</button>
    </form>
</body>
</html>
