<!DOCTYPE html>
<html>
<head>
    <title>Customer Login </title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <figure class="logo">
        <a href="/"> <img src="/static/1.jpg" style width="100px" height="100px"></a>
     </figure>
    <section class=color>
    <h1>Customer Login try again</h1>
    <form action="/customer" method="post">
        <label>ID:</label>
        <input name="id" required><br><br>

        <label>Password:</label>
        <input type=password name="password" required><br><br>

        <p><a href="/customersignup">No account? Sign up right now</a></p>

        <button type="submit">Log in</button>
          <button type="button" onclick="window.location.href='/'">Back</button>
        
    </form>
</section>
<footer>
    <figure class="logo">
      <img src="/static/1.jpg" style width="100px" height="100px">
     </figure>
   <br> Lot 3509, Seksyen U6, Kampung Melayu Subang,<br>
   <br> 40150 Shah Alam, Selangor<br>
   <br> Tel : 03 - 7845 9898<br>
   <br>Monday - Sunday<br>
   <br> 8:00 am - 4:30 pm<br>
   <p><a href="mailto:drivingacademy@gmail.com">drivingacademy@gmail.com</a></p>
  </footer>
</body>
</html>