<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/signup.css">
    
</head>
<body>
    <figure class="logo">
        <a href="/"> <img src="/static/1.jpg" style width="100px" height="100px"></a>
     </figure>
    <h1>Sign Up</h1>
    <form action="/customersignup" method="post">
        <label for="id">ID :</label>
        <input name="id" pattern="\d{12,}" title="Must contain at least 12 digit of numbers" required><br>
        <br>

        
        <label>password:</label>
        <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        <br><br>
        
        <label>email:</label>
        <input type="email" name="email" required><br>
        <br>

        <label>phone number:</label>
        <input name="ph" required><br>
        <br>
    
        <label>gender:</label>
        <select name="gender">
            <option>Male</option>
            <option>Female</option>
        </select><br><br>
        
        <label>date of birth:</label>
        <input type="date" name="dob" required><br><br>

        <p><a href="/customer">got account? Log in right now</a></p>
        
        <button>sign up</button><br>
        <button onclick="document.location='/'" >back</button>
    </form>
    <footer>
        <figure class="logo">
            <img src="/static/1.jpg" style width="100px" height="100px">
         </figure>
       <br> Lot 3509, Seksyen U6, Kampung Melayu Subang,<br>
       <br> 40150 Shah Alam, Selangor<br>
       <br> Tel : 03 - 7845 9898<br>
       <br>Monday - Sunday<br>
       <br> 8:00 am - 4:30 pm<br>
       <p><a href="mailto:drivingacademy@gmail.com">drivingacademy@gmail.com</a></p>
      </footer>
</body>
</html>