<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Delivery</title>
    <link rel="stylesheet" href="/static/edit.css">

</head>
<body>
    <h1>✎ Edit Delivery</h1>


    <form method="POST" enctype="multipart/form-data">
        <label for="delivery_status">Delivery Status:</label>
        <select id="delivery_status" name="delivery_status" required>
            <option value="Out for Delivery" {% if delivery.delivery_status == 'Out for Delivery' %}selected{% endif %}>Out for Delivery</option>
            <option value="Refunded" {% if delivery.delivery_status == 'Refunded' %}selected{% endif %}>Refunded</option>
            <option value="Delivered" {% if delivery.delivery_status == 'Delivered' %}selected{% endif %}>Delivered</option>
            <option value="Pending" {% if delivery.delivery_status == 'Pending' %}selected{% endif %}>Pending</option>
            <option value="In Process" {% if delivery.delivery_status == 'In Process' %}selected{% endif %}>In Process</option>
        </select><br><br>
        
        <label for="expected_delivery_date">Expected Delivery:</label>
        
            <input type="date" id="expected_delivery_date" name="expected_delivery_date" value="{{ delivery.expected_delivery_date }}" required><br><br>
        
        <button type="submit">Update Delivery</button>
    </form>

    <button type="button" onclick="window.location.href='/viewdel'">Cancel</button>
</body>
</html>
