<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Delivery</title>
</head>
<body>
    <h1>Edit Delivery</h1>


    <form method="POST" enctype="multipart/form-data">
        <label for="delivery_status">Delivery Status:</label>
        <input type="text" id="delivery_status" name="delivery_status" value="{{ delivery.delivery_status }}" required><br><br>
        
        <label for="expected_delivery_date">Expected Delivery:</label>
        
            <input type="date" id="expected_delivery_date" name="expected_delivery_date" value="{{ delivery.expected_delivery_date }}" required><br><br>
        
        <button type="submit">Update Delivery</button>
    </form>

    <button type="button" onclick="window.location.href='/viewdel'">Cancel</button>
</body>
</html>
