<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="/static/feedback.css">
</head>
<body>
    <h1>Feedback Form</h1>
    <form action="/feedback" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br><br>

        <label for="ph">Phone Number:</label>
        <input type="text" name="ph" id="ph" pattern="\d{10,}" title="Must be at least 10 digits" required><br><br>

        <label for="content">Feedback:</label><br>
        <textarea name="content" id="content" rows="6" required></textarea><br>

        <label>date:</label>
        <input type="date" name="date" required>

        <button type="submit">Submit Feedback</button>
        <button type="button" onclick="window.location.href='/customerhome'">Back</button>
    </form>
</body>
</html>
