<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Fund</title>
    <link rel="stylesheet" href="/static/viewtable.css">
</head>
<body>
     <h1 class="fundsale">☲ Transaction Log</h1> <!--📃 -->
    <table class="fundsale">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% if transactions %}
                {% for transaction in transactions %}
                    <tr class="notification-row">
                        <td>{{ transaction.type }}</td>
                        <td>RM {{ "{:,.2f}".format(transaction.amount) }}</td>
                        <td>{{ transaction.purpose }}</td>
                        <td>{{ transaction.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="notification-row">
                    <td colspan="4">No transactions to display.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <button type="button" onclick="window.location.href='/sponsorhome'">Back</button>
</body>
</html>
