<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Fund</title>
</head>
<body>



    <h3>Transaction Log</h3>
    {% if transactions %}
    <table border="1">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.type }}</td>
                <td>RM {{ "{:,.2f}".format(transaction.amount) }}</td>
                <td>{{ transaction.purpose }}</td>
                <td>{{ transaction.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No transactions to display.</p>
    {% endif %}

</body>
</html>
