<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="static/home.css">
  </head>

  <body>
    <h1>Shahrizal Samsudeen</h1> 
    <img id="banner" src="http://127.0.0.1:5000/static/1.png" height="320" width='840'>
    <h2>About Shahrizal</h2>
    <p>A person who strives for success and will work for the tasks given until
       can overcome them. I can lead a group to complete a task and always think
       technically and conceptually to solve any problems. A person who can learn
       about current and future technologies faster and always works to improve languages
       in order to deliver them in the best ways. A person who can manage emotion wisely 
       and always empathize with the people needed.</p>
  </body>
</html>