<!DOCTYPE html>
<html>
<head>
    <title>Introduction</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>

    <figure class="logo">
        <a href="/"> <img src="/static/2.png" style width="100px" height="100px"></a>
    </figure>

    <button type="button" onclick="window.location.href='/customer'">Customer</button>
    <button type="button" onclick="window.location.href='/courier'">Courier</button>
    <button type="button" onclick="window.location.href='/sponsor'">Sponsor</button>
    <button type="button" onclick="window.location.href='/admin'">Admin</button>

      
</body>


</html>