<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Refund</title>
    <link rel="stylesheet" href="/static/refundreason.css">

</head>
<body>

    
    <div class="container">
    <div class="flash-message-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container mt-5">
        <h2>Request Refund for {{ product_name }}</h2>
        
        <form action="/refund/{{ item_id }}" method="POST">
            <div class="form-group">
                <label for="reason">Refund Reason:</label>
                <textarea name="reason" id="reason" rows="5" class="form-control" required></textarea>
            </div>
            <div class="buttons-container">
                <button type="submit" class="btn btn-primary">Submit Refund Request</button>
                <button type="button" onclick="window.location.href='/customerhome'">Back</button>
            </div>
        </form>
    </div>
   

</body>
</html>
