<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Refund</title>
    <link rel="stylesheet" href="/static/refundreason.css">

</head>
<body>

    
    <div class="container">
        <h2>Request Refund for {{ product_name }}</h2>
        
        <form action="/refund/{{ item_id }}" method="POST">
            <div class="form-group">
                <label for="reason">Refund Reason:</label>
                <textarea name="reason" id="reason" rows="5" class="form-control" required></textarea>
            </div>
            <div class="buttons-container">
                <button type="submit" class="btn btn-primary">Submit Refund Request</button>
                <button type="button" onclick="window.location.href='/customerhome'">Back</button>
            </div>
        </form>
    </div>
   

</body>
</html>
