<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Notification</title>
    <link rel="stylesheet" href="/static/noti.css">
</head>
<body>

    <div class="flash-message-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="form-containercust">

        <form action="/sncus" method="post">

            <div class="form-row">

                <!-- Left Side - Title -->
                <div class="form-title">Send Message <br>to Customer</div>
                
                <div class="form">
                    <div class="message-box">
                        <label name="customer_id"></label>
                        <input name="customer_id", id="customer_id" required placeholder="Customer ID"><br><br>
                    </div>

                    <!-- Right Side - Text Area -->
                    <div class="message-box">
                        <label for="content"></label>
                        <textarea name="content" id="content" rows="6" required placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <!-- Buttons Below -->
            <div class="buttons-container">
                <button type="submit">Submit Notification</button>
                <button type="button" onclick="window.location.href='/adminhome'">Back</button>
            </div>
        </form>
</body>
</html>
