<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Notification</title>
    <link rel="stylesheet" href="/static/noti.css">
</head>
<body>
    <div class="form-container">
        
        <form action="/snspo" method="post">

            <div class="form-row">
                <!-- Left Side - Title -->
                <div class="form-title">Send Message <br>to Sponsor</div>
            
                <!-- Right Side - Text Area -->
                <div class="message-box">
                    <label for="content"></label>
                    <textarea name="content" id="content" rows="6" required placeholder="Message"></textarea>
                </div>
            </div>

             <!-- Buttons Below -->
            <div class="buttons-container">
                <button type="submit">Submit Notification</button>
                <button type="button" onclick="window.location.href='/adminhome'">Back</button>
            </div>

        </form>

    </div>
</body>
</html>
