<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/adminhome.css">
</head>
<body>
  <header>
      <figure class="logo">
          <a href="/"> <img src="/static/logo.png" width="100px" height="100px"></a>
      </figure>
  </header>
      <nav>
          <ul class="topnav">
              <li class="dropdown">
                  <a href="#manageitem">Performance</a>
                  <ul class="dropdown-content">
                    <li><a href="/fundsale">View Sales</a></li>
                    <li><a href="/viewcus">View Customer</a></li>
                    <li><a href="/viewadmin">View Admin</a></li>
                    <li><a href="/viewfeedbackspon">View Feedback</a></li>
                  </ul>
              </li>

              <li><a href="/updatefund">Manage fund</a></li>

              <li class="dropdown">
                  <a href="#memo">Notification</a>
                  <ul class="dropdown-content">
                    <li><a href="/viewnotispo">View Notification</a></li>
                    <li><a href="/sposadmin">Send Notification to Admin</a></li>
                  </ul>
              </li>
              
              <li><a href="https://wa.me/601151257919">Contact Management</a></li>
              <li><a href="/aboutus">About Us</a></li>
              <li><a href="/">Log Out</a></li>
          </ul>
      </nav>
  
  <section class="mainsponsor" id="history">
     
      <!-- Content Below Image -->
      <section class="content">
          <section class="admintop">
              <h3 class="header">Welcome to the Sponsor Dashboard<br> of Trash and Treasure!</h3>
          </section>
 
          <!-- Vision and Mission Boxes -->
          <section class="container">
              <div class="box">
                <h3>About Us</h3>
                <p>At Trash and Treasure, we believe in sustainability and second chances. 
                  Use this dashboard to manage our catalog of renewed and preloved items, update pricing and promotions, and monitor customer feedback. 
                  Together, let’s create a greener future by reducing waste and promoting reuse.</p>
              </div>

              <div class="box">
                  <h3>Our Vision</h3>
                  <p>To be the leading platform for sustainable shopping, promoting reuse and renewal as a lifestyle choice.</p>
              </div>
              <div class="box">
                  <h3>Our Mission</h3>
                  <p>• Sustainability: Reduce landfill waste by extending the life cycle of everyday items.</p>
                  <p>• Affordability: Provide quality, affordable products to our customers.</p>
                  <p>• Community: Build a marketplace that connects buyers and sellers who value sustainability.</p>
              </div>
          </section>
      </section>
      
  </section>

  <footer>
      <figure class="logo">
          <img src="/static/logo.png" style width="100px" height="100px">
      </figure>
      <br> Lot 3509, Seksyen U6, Kampung Melayu Subang,<br>
      <br> 40150 Shah Alam, Selangor<br>
      <br> Tel : 03 - 7845 9898<br>
      <br>Monday - Sunday<br>
      <br> 8:00 am - 4:30 pm<br>
      <p><a href="mailto:drivingacademy@gmail.com">drivingacademy@gmail.com</a></p>
  </footer>
</body>
</html>