<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All customer</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>All customer</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>action</th>
            </tr>
        </thead>

        <tbody>
            {% for customer in customer_list %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.ph }}</td>
                    <td>{{ customer.gender }}</td>
                    <td>{{ customer.dob }}</td>
                    <td>
                    <form action="/deletecustomer/{{ customer.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this customer?')" style="display: inline;">
                      <button type="submit">Delete</button>
                  </form>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="window.location.href='/adminhome'">Back</button>
</body>
</html>
