<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Feedback</title>
    <link rel="stylesheet" href="/static/viewtable.css">
    
</head>
<body>
    <h1 class="viewfeedback">★ All Feedback</h1>
    <table class="viewfeedback">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            {% for feedback in feedback_list %}
                <tr class="each-row">
                    <td>{{ feedback.id }}</td>
                    <td>{{ feedback.name }}</td>
                    <td>{{ feedback.email }}</td>
                    <td>{{ feedback.ph }}</td>
                    <td>{{ feedback.content }}</td>
                    <td>{{ feedback.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <div class="buttons-container">
    <button type="button" onclick="window.location.href='/sponsorhome'">Back</button>
    </div>

</body>
</html>
