<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Information</title>
    <link rel="stylesheet" href="/static/viewtable.css">
</head>
<body>
    <h1 class="viewcus">ⓘ Customer Information</h1> <!-- /*👤*/ -->
    <table class="viewcus">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>DOB</th>
            </tr>
        </thead>

        <tbody>
            {% for customer in customer_list %}
                <tr class="notification-row">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.ph }}</td>
                    <td>{{ customer.gender }}</td>
                    <td>{{ customer.dob }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="window.location.href='/sponsorhome'">Back</button>
</body>
</html>
