<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Details</title>
    <link rel="stylesheet" href="/static/viewnoti.css"> 
</head>
<body>
    <h1>Your Notifications</h1>

    {% if noti %}
        <table class="viewfeedback">
            <thead>
                <tr>
                    <th>Notification ID</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                {% for notification in noti %}
                    <tr class="notification-row"> 
                        <td>{{ notification.id }}</td>
                        <td>{{ notification.content }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No notifications available.</p>
    {% endif %}

    <button type="button" onclick="window.location.href='/customerhome'">Back</button>

</body>
</html>
