<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="/static/viewnoti.css"> 
</head>
<body>
    <h1>Courier Notifications</h1>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Content</th>
                
            </tr>
        </thead>

        <tbody>
            {% for notification in noti_list %}
                <tr class="notification-row">
                    <td>{{ notification.id }}</td>
                    <td>{{ notification.content }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="window.location.href='/courierhome'">Back</button>
</body>
</html>
